@mixin clip-path-hexagon() {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

@mixin ignore-list-styles() {
  list-style: none;
  margin: 0;
  padding: 0;
}

$gridSize: 10vw;

.grid {
  @include ignore-list-styles();

  display: block;
  font-size: 2vw;

  > .row {
    @include ignore-list-styles();

    > .hex {
      display: inline-flex;
      border: 1px solid #ccc;
      position: relative;
      width: $gridSize;
      height: $gridSize;

      justify-content: center;
      align-items: center;

      &:nth-child(even) {
        top: $gridSize / 2;
      }
    }
  }
}
